    <header class="masthead text-center text-white d-flex" style="background-image: url(assets/bkg.jpg)">
      <div class="container my-auto">
        <div class="row">

          <div class="col-lg-10 mx-auto">
            <%= image_tag("logo.png", size: "250x250") %>
          </div>

          <div class="col-lg-10 mx-auto">
            <br>
            <h1 class="text-uppercase">
              <strong>Find My Professor</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Finding your professor is now easy as simple as a click! Know when they are available through our interactive QuickFind web application.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Ever struggle to locate your professor? You're savior has arrived! Our one-touch web application will allow users to track their participating professor. The professor simply swtiches on the "Find Me" and students will now be able to see a dropped pin using Google Maps.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/users/sign_up">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">How it Works</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-user-plus text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Create an Account</h3>
              <p class="text-muted mb-0">Your information will not be given to anyone. We care about your privacy.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-key text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Add Your Professor</h3>
              <p class="text-muted mb-0">With a particpating professor, a unique code is created. You can add the professor and start finding!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-thumbs-o-up text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Easy to Use</h3>
              <p class="text-muted mb-0">We encourage professors to use the application. Not only can they share their location when they need it, they can also send messages to the students are viewing his hours.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Made by Students</h3>
              <p class="text-muted mb-0">The web application was not created by boring adults. We are students who have experienced the same problem and are determined to make change.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Be Part of the Future!</h2>

          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">in order to keep your program running for you, we need to pay hosting. Nothing in this world is free but if you feel this application has helped, press the button below.</p>
          </div>
        <a class="btn btn-light btn-xl sr-button" href="/users/sign_up">Donate</a>
      </div>
    </section>