<main role="main" class="inner cover">
	<div style="padding: 10px 10px 10px 10px">
	<%= image_tag "logo.png", :size => '250x250'%>
	</div>
	<h1 class="cover-heading">Find My Professor</h1>
		<p class="lead">Students are now able to view their profressor's location and status for office hours, advisements, and assistance! </p>
		<p class="lead">
			<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
</main>