<header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">R3 Labs</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Donate</a>
                <a class="nav-link" href="#">Sign In</a>
              </nav>
            </div>
</header>